Options +FollowSymLinks

# Rewrite URLs - Removes the ".php" on all file extensions.
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]


